/* -- This specific Hack-A-Day project -- */
.guy.boss {
    --height: 61px;
    --width: 200px;
    --health: 1;
    border: 10px solid;
    border-radius: 40px;
    height: var(--height);
    width: var(--width);
    top: calc(20% - var(--height)/2);
    left: calc(50% - var(--width)/2);
    border-color: rgb(0, 0, calc(var(--health)*255), calc(var(--health)/2 + 0.5) );
    text-align: center;
    /*width: 100px;*/
}

.boss canvas {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 180px;
    height: 24px;
}

.guy.player {
    --width: 5vh;
    --height: 5vh;
    border-radius: 10px;
    left: calc(50% - var(--width)/2);
    top: calc(100% - var(--height));
    height: var(--height);
    width: var(--width);
    background-color: green;
}

.healthbar {
    height: 10px;
    border-radius: 10px;
    background-color: red;
}
.healthbar .health {
    --health: 1;
    width: var(--health);
    background-color: green;
    height: 100%;
    border-radius: inherit;
}
.healthbar::after {
    content: var(--health);
}

.boss .healthbar {
    display: inline-block;
    width: 80%;
}

.player .healthbar {
    width: 300%;
    position: relative;
    top: 60px;
    left: -100%;
}

.bullet {
    width: 10px;
    height: 10px;
    background-color: red;
}

.bullet.player {
    transform: scaleX(0.5) rotate(45deg);
}
.bullet.boss {
    border-radius: 3px;
}

.poof {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.game {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



/* -- All Hack-A-Day projects -- */

.container {
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    flex-shrink: 1;
}

.about {
    white-space: pre-wrap;
}
.footer {
    background-color: rgba(0,0,0,0.2);
    margin-top: 20px;
}
.footer ul {
    list-style: none;
    padding-left: 5px;
}

.navbar-brand-link a {
    color: #777;
}
.navbar-brand-link a:hover {
    color: #000;
    text-decoration: none;
}

input[type=number] {
    height: 36px;
    width: 80px;
    text-align: right;
    padding: 8px 12px 8px 8px;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    background: rgba(0,0,0,0);
    width: 24px;
    margin-left: 10px;
}

.hflex {
    display: flex;
    flex-flow: row nowrap;
}
.vflex {
    display: flex;
    flex-flow: column nowrap;
}

/* Fullscreen 'content' on request */
.fullscreen nav.navbar {
    margin-bottom: 0;
}
.fullscreen div.container {
    margin: 0;
    padding: 0;
    width: 100%;
}
.fullscreen .footer {
    margin-top: 0;
}
html.fullscreen, .fullscreen body, .fullscreen .container {
    height: 100%;
}
