{% extends 'base2.html' %}

{% block header %}
    <h3>{% block title %}{{ project_name }}{% endblock %}</h3>
    {{ description }}. {{ instructions | safe }}
    <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}

{% block content %}
<div class="debug">
    Game objects: <span class="object-counter">--</span>
    <!--Frames: <span class="frame-counter">--</span>-->
    FPS: <span class="fps">--</span>
    <!--
    X: <span class="x">--</span>
    A: <span class="a">--</span>
    -->
</div>
<div class="game">
    <div class="guy boss">
        <div class="healthbar"><div class="health"></div></div>
        <canvas></canvas>
        <audio src="{{ url_for("static", filename="sound/switch.mp3") }}"></audio>
    </div>
    <div class="guy player">
        <div class="healthbar"><div class="health"></div></div>
    </div>
</div>
{% endblock %}
